<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BuyBuddy - Messages</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
     
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/_header.css" />

    <!-- JavaScript -->    
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script defer src="/scripts/app.js"></script>
  </head>
  <body>
    <%- include('partials/_header') %>
    <div class="container">
      <div class="container-left">
        <h1>Messages</h1>
      </div>
      <div class="container-right">
        <% messages.forEach((message) => { %>
        <div class="card">
          <div class="card-header">
            <h2 class="message-title">
              Message from <%= message.sender_username %>
            </h2>
            <span class="time"><%= message.send_date %></span>
          </div>
          <div class="card-body">
            <span class="user user-email"><%= message.sender_email %></span>
            <span>></span>
            <span class="message"><%= message.message_text %></span>
          </div>
        </div>
        <% }); %>
        <br>
        <a href="/users/login/buyer" class="user-home">Back</a>
      </div>
    </div>
  </body>
</html>